@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: ChakraMedium !important; 
}

@font-face {
    font-family: ChakraMedium;
    src: url(./fonts/Chakra_Petch/ChakraPetch-Medium.ttf);
}

body {
    /* background: url(./images/library.png); */
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0A1929;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
  }


  /*Loader Css  */

  .lds-hourglass {
    display: inline-block;
    position: relative;
    /* width: 20px;
    height: 20px; */
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 20px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }