@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: ChakraMedium !important; 
}

@font-face {
    font-family: ChakraMedium;
    src: url(./fonts/Chakra_Petch/ChakraPetch-Medium.ttf);
}

body {
    background: url(./images/library.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 70px;
}